<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAISKabini.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-AKO4VO4\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SAISKabini.Properties.Settings.SAISKabiniConnectionString"
            connectionString="Data Source=DESKTOP-AKO4VO4\SQLEXPRESS;Initial Catalog=SAISKabini;Persist Security Info=True;User ID=sa;Password=atmaca123"
            providerName="System.Data.SqlClient" />
        <add name="SAISKabini.Properties.Settings.SAISKabiniConnectionString1"
            connectionString="Data Source=254-136-052-33\SQLEXPRESS;Initial Catalog=SAISKabini;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>